@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .almost-white {
    @apply text-[#fafafa]
  }
  
  .medium-gray {
    @apply text-[#696969]
  }
  
  .almost-black {
    @apply text-[#141414]
  }

  .feature-item {
    @apply flex items-center justify-start space-x-3 hover:scale-105 hover:text-[#141414] cursor-pointer
  }
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 18px;
}